.features{
    margin-top: 140px;
    @include mobile{
        margin-top: 40px;
    }
}
.features-text{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-bottom: 60px;
    @include mobile{
        margin-bottom: 10px;  
        grid-gap: 5px;
    }
    &__title{
        display: flex;
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(18px, 1.754vw, 20px);;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: #EE5514;
        align-content: center;
        justify-content: center;    

    }
    &__title-big{
        display: flex;
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(20px, 3.86vw, 44px);;
        line-height: 130%;
        color: #1A0A03;
        align-content: center;
        justify-content: center;        
    }
    &__info{
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(14px, 1.404vw, 16px);
        line-height: 160%;
        color: #1A0A03;
    }
}
.features-list{
    position: relative;
    display: flex;
    flex-direction: row;
    grid-gap: 30px;
    @include tablet{
        flex-wrap: wrap;
        margin: 0 25px;
        grid-gap: 30px;
        justify-content: center;
    } 
    @include mobile{
        margin: 0 25px;
        grid-gap: 30px;
    } 

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 20px;
        color: #1A0A03;
        background-color: #FFFFFF;
        min-height: 423px;
        padding: 60px;
        border-radius: 10px;
        @include tablet{
            display: flex;
            min-height: 400px;
            max-width: 300px;
            grid-gap: 20px;
            padding: 50px;
        } 
        &:hover{
            background-color:  rgba(238, 85, 20, 0.1);
        }
    }
    &__item-emblem{
        display: flex;
        min-width: 140px;
        min-height: 140px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: rgba(170, 33, 234, 0.1);
        @include mobile{
            min-width: 70px;
            min-height: 70px;
        }

    }
    &__item-title{
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        text-align: center;
        color: #1A0A03;
    }
    &__item-text{
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        color: #1A0A03;
    }
    &__item-link{
        position: relative;
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #EE5514;
        &::after{
            position: absolute;
            content: "";
            width: 6px;
            height: 10px;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 9 4-4-4-4' stroke='%231A0A03' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            transform: translateY(-30%);
            background-size: contain;
            right: -15px;
            top: 50%;
        }

    }
}

