.gallary{
    margin-top: 140px;
    @include mobile{
        margin-top: 50px;
    }
    &-text{
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        @include mobile{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-gap: 5px;
        }
    }
    &__title{
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: #EE5514;
    }
    &__title-big{
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 130%;
        color: #1A0A03;
        @include mobile{
            font-size: 20px;
        }
    }
    &-list{
        &__item{
            &-title{
                font-family: 'Sourcesemibold';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 150%;
                color: #1A0A03;
                @include mobile{
                    font-size: 20px;
                }
            }
            &-size{
                display: flex;
                flex-direction: row;
                grid-gap: 10px;
            }
            &-price{
                display: flex;
                flex-direction: row;
                grid-gap: 10px;
            }
            &-btnBuy{
                width: 128px;
                height: 56px;
                justify-content: center;
                align-items: center;
                align-content: center;
                text-align: center;
                background: #EE5514;
                color: #FFFFFF;
                border-radius: 5px;
                font-family: 'Poppinsregular';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                border: 1px solid #EE5514;
                transition: .2s;
                &:hover{
                    width: 128px;
                    height: 56px;
                    background-color: #1A0A03;
                    color: #EE5514;
                    border: 1px solid #EE5514;
                    transition: .2s;
                }
            }
        }
    }
}
.size-main{
    font-family: 'Poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.size-name{
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.8;
}
.price-main{
    font-family: 'Poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}
.price-value{
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.8;
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-buttoms{
        display: flex;
        grid-gap: 50px;
    }
}
.category-list{
    display: flex;
    flex-direction: row;
    grid-gap: 40px;
    font-family: 'Poppinsregular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #1A0A03;
    @include mobile{
        font-size: 14px;
        grid-gap: 15px;
        margin: 10px 15px;
    }
    &__item{
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.05em;
        color: #1A0A03;
        @include mobile{
            font-size: 14px;
        }
        :hover {
            font-family: 'Poppins-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0.05em;
            color: #EE5514;
            @include mobile{
                font-size: 14px;
            }
        }
        :focus {
            font-family: 'Poppins-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0.05em;
            color: #EE5514;
            text-decoration: underline #EE5514;
            @include mobile{
                font-size: 14px;
            }
        }
    }
}
.gallary-box{
    width: 100%;
}
.gallary-swap{
    width: 1140px;
}
.gallary-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.gallary-slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.gallary-scroll{
    position: absolute;
    right: 0;
    top:15%;
    display: flex;
    justify-content: flex-end;
    grid-gap: 50px;
    width: fit-content;
    @include tablet{
        top:110%;
        right: 30%;
        transform: translateX(-50%);
        grid-gap: 35px;

    }
    @include mobile{
        top:105%;
        right: 10%;
        grid-gap: 15px;
    }
}
.gallary-btn{
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 17 8-8-8-8' stroke='%231A0A03' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    rotate: 180deg;
    transition: all .4s;
    z-index: 1;
    background-color:rgba(238, 85, 20, 0.22);
    &:hover{
      transform: scale(1.17);  
    }
    &--R{
        rotate: 0deg;
    }
}

.foot{
    position: relative;
    width:262px;
    object-fit:cover;
    margin-top: 60px;
}
.tabs-main{
    display: grid;
    grid-template-columns: auto 1fr;
}
.tabs-content{
    grid-column: span 2;
}