.shoes{
    padding-top: 30px;
}
.shoes-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 360px;
    grid-gap: 20px;
    @include tablet{
        display: flex;
        margin: 0 0 0 10px;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    @include mobile{
        display: flex;
        margin: 0 0 0 10px;
        align-items: center;
        justify-content: center;
        max-width: 540px;
    }
    &__title{
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(22px, 5.351vw, 61px);
        line-height: 120%;
        color: #1A0A03;
        @include mobile{
            text-align: center;
        }
    }
    &__colorword{
        font-size: clamp(22px, 5.351vw, 61px);
        color:  #EE5514;
    }
    &__info{
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(14px, 1.404vw, 16px);
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
        @include mobile{
            text-align: center;
        }
    }

}
.shoes-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 100px;
    @include tablet{
        display: grid;
        grid-template-columns: 150px 150px;
        grid-gap: 30px;
        justify-content: center;
        align-content: center;
    }
    &__item{
        &:not(:first-child){
            &:before{
                position: absolute;
                content: "";
                border-left: 1px solid #EE5514;
                width: 0px;
                height: 35px;
                left: -35px;
                top: 10px;
                @include tablet{
                    left: -10px;
                    top: 10px;
            
                }
            }
        }
        @include tablet{
            &:nth-child(odd){
                &:before{
                  opacity: 0;
                }
              }
        }

        display: flex;
        flex-direction: column;
        grid-gap: 2px;
        position: relative;
        @include tablet{
            padding-left: 45px;
            &:last-child{
                grid-column:span 2;
                display: flex;
                justify-content: flex-start;
                padding-left: 0;
            }
        }
    }
    &__item-title{
        position: relative;
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
        @include tablet{
            display: flex;
            justify-content: flex-start;
            opacity: 1;
        }
        @include mobile{
            opacity: 1;
        }
    }
    &__item-text{
        font-family: 'Poppins-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: clamp(14px, 1.579vw, 18px);
        line-height: 160%;
        color: #1A0A03;

    }
    &__item-btnBuy{
        align-content: center;
        text-align: center;
        max-width: 128px;
        max-height: 56px;
        background: #EE5514;
        color: #FFFFFF;
        border-radius: 5px;
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 500;
        font-size: clamp(14px, 1.404vw, 16px);
        line-height: 160%;
        border: 1px solid #EE5514;
        transition: .2s;
        &:hover{
            width: 128px;
            height: 56px;
            background: #1A0A03;
            color: #EE5514;
            border: 1px solid #EE5514;
            transition: .2s;
        }
        @include tablet{
            display: flex;
            align-self: center;
            min-width: 100px;
            min-height: 45px;
            &:hover{
                width: inherit;
                height:inherit;
                transform: none;
                color: #fff;
            }
        }
    }
    &__item-double{
        display: flex;
    }
}
.slider-first{
    min-height: 400px;
}
.shoes-table{
    display: flex;
    grid-gap: 270px;
    @include tablet {
        display: flex; 
        flex-direction: column;
        grid-gap: 0;
    }
}
.shoes-photo{
    position: relative;
    background-image: url(/img/sprite/redshoes.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1;
}
.shoes-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 105%;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    border: 50px;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.8 26.4 14.2 14 1.8 1.6' stroke='%231A0A03' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    transition: .7s;
    @include tablet{
        left: 100%;
    }
    @include mobile{
        display: none;
    }
}

.shoes button:hover{
    background-color:rgba(238, 85, 20, 0.22)
}
.chose-picture{
    position: relative;
    background-image: url(/img/sprite/border.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    width: 394px;
    height: 400px;
    @include mobile{
        height: 250px;
        width: 250px;
    }
    &::after{
        position: absolute;
        content: "";
        background-image: url(/img/sprite/shadow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 389px;
        height: 89px;
        bottom: 39px;
        left: 50%;
        transform: translateX(-50%);
        @include mobile{
            width: 250px;
            height: 49px;
            bottom: 23px;
        }
    }
}
.chose-slide{
    max-width: 550px;
}
.slider-first{
    img{
        position: relative;
        top:20px;
        width: 100%;
        height: 350px;
        @include mobile{
            height: 200px;
            width: 250px;
        }
    }
}
.swiper-box{
    position: relative;
    width: fit-content;
    display: flex;
    @include tablet{
        align-self: center;
    }

}
