.testimonials{
    margin-top: 140px;
    @include mobile{
        margin-top: 110px;
    }
}
.athletic{
    display: flex;
    grid-gap: 127px;
    @include tablet{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
}
.runShoes{
    padding: 0 15px;
    img{
        width: 100%;
        @include tablet{
            width: 550px;
            height: 360px;
        }
    }
    @include tablet{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        padding: 0 15px;
    }
}
.testimonials-title{
    margin-bottom: 60px;
    font-family: 'Sourcesemibold';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(22px, 3.86vw, 44px);;
    line-height: 130%;
    color: #1A0A03;
    text-align: center;
    @include mobile{
        margin-bottom: 10px;
    }
}
.shoesTwit{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    max-width: 400px;
    @include mobile{
        grid-gap: 5px;
        max-width: 300px;
    }
    &-title{
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(20px, 1.93vw, 22px);;
        color: #1A0A03;

    }
    &-comment{
        font-family: 'Poppinsmediumitalic';
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
    }
    &-name{
        font-family: 'Poppins-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 1.579vw, 18px);;
        line-height: 160%;
        color: #1A0A03;
    }
    &-job{
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.8;
    }
    &-face{
        display: flex;
        max-width: 100px;
        margin-bottom: 30px;
        @include mobile{
            max-width: 70px;
            margin-bottom: 10px;
        }
    }
}
.twit-swap{
    max-width: 400px;
    @include mobile{
        max-width: 400px;
        display: flex;
        left: 15px;
    }
}

.twit-slide{
    max-width: 550px;
    @include mobile{
        max-width: 400px;   
    }
}


.testimonials-scroll{
    width: 100%;
    position: absolute;
    right: 3%;
    top: 28%;
    display: flex;
    justify-items: flex-end;
    grid-gap: 50px;
    width: fit-content;
    z-index: 10;
    @include tablet{
        right: 50%;
        transform: translateX(50%);
        top: 103%;
        grid-gap: 35px;
    }
}
.testimonials-btn{
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 17 8-8-8-8' stroke='%231A0A03' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    rotate: 180deg;
    transition: all .4s;
    z-index: 1;
    background-color:rgba(238, 85, 20, 0.22);
    &:hover{
      transform: scale(1.17);  
    }
    &--R{
        rotate: 0deg;
    }
}
.testimonials button:hover{
    background-color:rgba(238, 85, 20, 0.22)
}