.video{
    margin-top: 140px;
    @include mobile{
        margin-top: 70px;
    }
}
.video-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 340px;
    grid-gap: 20px;
    @include tablet{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 5px;
        margin: 0 15px;
        max-width: 100%;
    }
    &__title{
        display: flex;
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: #EE5514;
        align-items: center;
        justify-content: flex-start;   
    }
    &__title-big{
        font-family: 'Sourcesemibold';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(20px, 3.86vw, 44px);;
        line-height: 130%;
        color: #1A0A03;
        @include tablet{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;  

        }
        @include mobile{
            display: flex;
            align-items: center;
            justify-content: center;  

        }
    }
    &__info{
        display: flex;
        font-family: 'Poppinsregular';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(14px, 1.404vw, 16px);
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
        @include tablet{
            text-align: center;
        }
    }
}
.video-playout{
    display: flex;
    justify-content: space-between;
    @include tablet{
        display: flex;
        flex-direction: column;
    }
}
.video-woman{
    display: flex;
    justify-content: center;
    position: relative;
    img, picture{
        width: 100%;
        display: block;
        border-radius: 10px;
        @include mobile{
            padding: 5px;
        }
        
    }
}
.video-woman{
    &__picture{
        position: relative;
        z-index: 10;
    }
}
.video-woman__picture::before{
    content: "";
    position: absolute;
    bottom: 54px;
    left: 50px;
    width: 555px;
    height: 326px;
    background-image: url(/img/sprite/videoend.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    // background-size: contain;
    z-index: -1;
    @include tablet{
        display: none;
    }
}
.video-woman__picture::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: clamp(80px, 8.772vw, 100px);
    min-height: clamp(80px, 8.772vw, 100px);
    background-image: url(/img/sprite/play.svg);
    background-size: auto;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 55% center;
    z-index: 11;
    pointer-events: none;
}
