<footer>
  <div class="container">
    <div class="footer-adress">
      <ul class="footer-info">
        <li class="footer-info__item"><a href="#" class="footer-logo"><svg width='94' height='44'>
          <use href='img/sprite/sprite.svg#Group363'></use>
        </svg></a></li>
        <li class="footer-info__item"><p class="footer-adress__street">10 New Town Street, V2 <br> 5NW, Newstate, USA.</p></li>
        <li class="footer-info__item"><p class="footer-adress__mail">shovasatkhira88@gmail.com</p></li>
        <li class="footer-info__item">
          <ul class="social-list">
          <li class="social-list__link"><a href="#"><svg width='20' height='20'>
            <use href='img/sprite/sprite.svg#facebook'></use>
          </svg></a></li>
          <li class="social-list__link"><a href="#"><img src="/img/sprite/inst.svg" alt=""></a></li>
          <li class="social-list__link"><a href="#"><img src="/img/sprite/twitter.svg" alt=""></a></li>
          <li class="social-list__link"><a href="#"><svg width='20' height='20'>
            <use href='img/sprite/sprite.svg#google'></use>
          </svg></a></li>
        </ul>
      </li>
      </ul>
      <ul class="footer-service">
        <li class="footer-service__item">
          <ul class="footer-list">Our services
            <li class="footer-list__item-link"><a href="#">About us</a></li>
            <li class="footer-list__item-link"><a href="#">Feature</a></li>
            <li class="footer-list__item-link"><a href="#">Gallary</a></li>
          </ul>
        </li>
        <li class="footer-service__item">
          <ul class="footer-list">Support
            <li class="footer-list__item-link"><a href="#">Privacy & Policy</a></li>
            <li class="footer-list__item-link"><a href="#">Terms & Condition</a></li>
            <li class="footer-list__item-link"><a href="#">Support System</a></li>
          </ul>
        </li>
        <li class="footer-service__item">
          <p class="footer-contact">Contact us</p>
          <p class="footer-text">Lorem ipsum dolor sit amet<br> consectetur adipiscin.</p>
          <label for="email">
            <input class="email-typeF" type="email" placeholder="Mail address">
            <button class="email-sendF">Send</button>
          </label> 
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p>Copyright 2021 The PUMA All Rights Reserved.</p>
    </div>
  </div>
</footer>