<header>
  <div class="container">
    <div class="mobile-header">
      <a href="#" class="logo"><svg width='94' height='44'>
        <use href='img/sprite/sprite.svg#Group363'></use>
      </svg></a>
      <ul class="nav-list">
        <li class="nav-list__link"><a>Menu</a></li>
        <li class="nav-list__link"><a>About</a></li>
        <li class="nav-list__link"><a>Feature</a></li>
        <li class="nav-list__link"><a>Gallary</a></li>
      </ul>
      <button class="header-btn orange-button">Buy now</button>
    </div>
    <div class="header">
      <a href="#" class="logo"><svg width='94' height='44'>
        <use href='img/sprite/sprite.svg#Group363'></use>
      </svg></a>
      <ul class="nav-list">
        <li class="nav-list__link"><a>Menu</a></li>
        <li class="nav-list__link"><a>About</a></li>
        <li class="nav-list__link"><a>Feature</a></li>
        <li class="nav-list__link"><a>Gallary</a></li>
      </ul>
      <button class="header-btn orange-button">Buy now</button>
      <button class="burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>